body {
    background-color: #D5E1EF;
    font-family: 'Roboto', Arial, sans-serif;
    box-sizing: border-box;
    margin: 0;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    gap: 15px;
}

.container {
    background-color: white;
    border-radius: 15px;
    padding: 15px;
    text-align: center;
}

.container img {
    border-radius: 10px;
    width: 100%;
}

.attribution {
    text-align: center;
    font-size: 10px;
}

.container h1 {
    color: #4C596A;
    font-size: 20px;
}

.container h2 {
    color: #A1A1A9;
    font-size: 12px;
}
.common-width{
    max-width: 230px;
    min-width: 285px;
}

